<div class="centrar">
    <h1><%= @article.title %></h1>

    <% unless @article.user.nil? %>
        <p>
            Escrito por: <%= @article.user.email %>
        </p>
        <p>
            Visitas: <%= @article.visits_count %>
        </p>
    <%else%>
        <p>
            Escrito por: Anonimo
        </p>
        <p>
            Visitas: <%= @article.visits_count %>
        </p>
    <%end%>
    <div>
        <%= @article.body %>
    </div>
    <div>
        <%= link_to "Editar", edit_article_path(@article), class: "cuidado"%>
    </div>
</div>