<header>
    <nav class= "be-azul white large-padding">
        <ul class="no-list row center-xs middle-xs">
          <list class="col-md">
            <h1 class="no" id="Logo"><%= link_to "Logo",root_path %></h1>
          </list>
          <list class="col-md">
            <%= link_to "Articulos", articles_path %>
          </list>

          <% @categories.each do |cat|%>
            <list class="col-md">
              <%= link_to cat.name, cat %>
            </list>
          <%end%>
          
          <% if user_signed_in? %>
            <list class="col-md">
              <%= link_to "Cerrar secion", destroy_user_session_path, method: :delete %>
            </list>
          <%else%>
            <list class="col-md">
              <%= link_to "Iniciar secion", new_user_session_path %>
            </list>
            <list class="col-md">
              <%= link_to "Crear cuenta", new_user_registration_path %>
            </list>
          <%end%>
        </ul> 
    </nav>
</header>